html {
  padding: 40px;
}

textarea {
  width: 500px;
  height: 300px;
}

.output {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  width: 500px;
}

button {
  display: block;
}
